<form action="/post-form" method="get">
    <input type="text" id="name" name="name" required>
    <label for="name">name plz</label>
    <input type="email" id="email" name="email" required>
    <label for="email">email plz</label>
    <button type="submit">Send</button>
</form>